section.hero {
  max-width: 80rem;
  width: 100%;
  padding: 2.5rem 2rem;
  margin-inline: auto;
  
  /* implementar @media querrie -> flex direction columns pra se adaptar ao mobile */
  align-items: center;
  justify-content: space-between;
  display: flex;
  overflow: hidden;

  & h1 {
    max-width: 40rem;
  }

  & h1 div {
    display: inline-block;
    overflow: hidden;
    width: min-content;
    height: 5rem;
    vertical-align: bottom;
  }

  & h1 span:nth-child(1) {
      color: var(--snitap-sky-mid);
    }
  & h1 span:nth-child(4) {
      color: var(--snitap-sky-mid);
    }
  & h1 span:nth-child(2) {
      color: var(--snitap-joy-mid);
    }
  & h1 span:nth-child(3) {
      color: var(--snitap-leaf-mid);
    }

  & h1 span {
      display: block;
      animation: slideUp 5s 2.1s infinite ease ;
    }

  & > div:nth-child(2) {
    display: block;
    width: 100%;
    max-width: 30.5rem;
    height: 30.5rem;

    & .content {
      width: 100%;
      height: 100%;
      position: relative;
 
    }

    & img {
      position: absolute;
      width: 100%;
    }

    & img[src*="Ellipse"] {
      width: 94%;
      top: 3%;
      left: 3%;

      transform: translateX(200%);
      animation: slideIn 3s 200ms ease forwards;
    }
    & img[src*="patins"] {
      z-index: 1;
      transform: translateX(200%);
      animation: slideIn 3s ease forwards;
    }
    & img[src*="1"] {
      max-width: 5.5rem;
      top: 30%;
      z-index: 0;

      opacity: 0;
      transform: translateX(800%);
      animation: slideIn 2s 800ms ease both, appear 100ms 800ms both;
    }
    & img[src*="2"] {
      max-width: 3rem;
      z-index: 0;
      right: 0;
      bottom: 35%;
      
      
      opacity: 0;
      transform: translateX(800%);
      animation: slideIn 2.2s 800ms ease both, appear 100ms 800ms both;

    }

  }
}
